<div>
  <p>This sector where you can add a new sentence to the table</p>
</div>
  <!-- <form> -->
  <!-- <form [ formGroup ]="addSentenceForm" (ngSubmit)="onSubmit()"> -->
  <form [ formGroup ] = "" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Chinese Sentence</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Type in Chinese sentence here" formControlName="chinese">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Pinyin</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Pinyin" formControlName="pinyin">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">English translation</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Type in English translation here" formControlName="english-translation">
    </div>
  </div>
  <div class="form-group row">
    <div class="btn-group" data-toggle="buttons">
      <label class="col-sm-12">Select a difficulty level of the sentence</label>
      <br>
      <div class="col-sm-12">
        <label>
          <input type="radio" name="options" id="option1">
          <img class="grade-circle" id="black-circle" src="./../assets/icons/black-circle.svg" alt="black">
        </label>
        <label>
          <input type="radio" name="options" id="option1">
          <img class="grade-circle" id="blue-circle" src="./../assets/icons/blue-circle.svg" alt="blue">
        </label>
        <label>
          <input type="radio" name="options" id="option1">
          <img class="grade-circle" id="orange-circle" src="./../assets/icons/orange-circle.svg" alt="orange">
        </label>
        <label>
          <input type="radio" name="options" id="option1">
          <img class="grade-circle" id="yellow-circle" src="./../assets/icons/yellow-circle.svg" alt="yellow">
        </label>
        <label>
          <input type="radio" name="options" id="option1">
          <img class="grade-circle" id="mint-circle" src="./../assets/icons/mint-circle.svg" alt="mint">
        </label>
        <label>
          <input type="radio" name="options" id="option1">
          <img class="grade-circle" id="pink-circle" src="./../assets/icons/pink-circle.svg" alt="pink">
        </label>
      </div>
    </div>
</div>
  <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Add sentence to database</button>
      </div>
  </div>
</form>

