/* How to use image as radio button */
/* https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons */

/* HIDE RADIO */
[type=radio] { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* IMAGE STYLES */
[type=radio] + img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-right:10px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #f00;
}

.add-sentence-form {
    padding: 20px;
    background-color: #EEE;
    border-radius: 10px;
}

.difficulty-level {
    background-color: #CCC;
}

/* Temperary fix the position */
/* Need to fix: to do */
/* Somehow this label is aligned in the middle of it's given space of col-sm-2 */
/* it needs to be aligned with the rest of the labels in the form group */
.form-label-difficulty-level {
    left: -15px !important;
}