<div class="cardView">
  
  <p class="cardView-title">Do you understand this sentence?</p>
  
  <div class="cardView-body container">
    
    <div class="row card-text">
      <div class="col">明天我们一起去吃中国菜吧！</div>
      <div class="row cardView-buttons-flash-done text-center">
        <div class="cardView-button-flash col-sm-6">Flash</div>
        <div class="cardView-button-done col-sm-6">Done</div>
      </div>
    </div>

    <div class="row cardView-buttons-pagination">
      <label class="cardView-button-left col-sm-6">
        <input type="radio">
        <img class="button-left" id="blue-circle" src="./../assets/icons/left-chevron.png" alt="blue">
      </label>
      <label class="cardView-button-right col-sm-6">
        <input type="radio">
        <img class="button-left" id="blue-circle" src="./../assets/icons/right-chevron.png" alt="blue">
      </label>
    </div>
  </div>

</div>
