<nav class="navbar-container">
  <ul class="navbar-items">
    <li class="navbar-item">
      <!-- <a href="#"> -->
        <img src="./../assets/icons/pingpong-logo.png" width="79" height="79" alt="">
      <!-- </a> -->
    </li>
    <li class="navbar-item">
        <p class="pingpong-text">Ping-Pong language</p>
    </li>
  </ul>
</nav>

<div class="cardView">
  <p class="cardView-title">Do you understand this sentence?</p>
  <div class="cardView-body container">
    <div class="row card-text-div">
      <div class="col-sm-12 card-text">{{ sentence.Pinyin | json}}</div>
    </div>
    <div class="row card-text-div">
      <div class="col-sm-12 card-text">{{ sentence.Chinese | json}}</div>
    </div>
    <!-- <div class="row cardView-buttons-flash-done text-center">
      <div class="cardView-button-flash col-sm-6">Flash</div>
      <div class="cardView-button-done col-sm-6">Done</div>
    </div> -->
    <div class="row cardView-buttons-pagination">
      <label class="cardView-button-left col-sm-6">
        <input (click)="onClickPrevious()" type="radio">
        <img class="button-left" id="blue-circle" src="./../assets/icons/left-chevron.png" alt="blue">
      </label>
      <label class="cardView-button-right col-sm-6">
        <input (click)="onClickNext()" type="radio">
        <img class="button-left" id="blue-circle" src="./../assets/icons/right-chevron.png" alt="blue">
      </label>
    </div>
  </div>
</div>
