<nav class="navbar-container">
  <ul class="navbar-items">
    <li class="navbar-item">
      <!-- <a href="#"> -->
        <img src="./../assets/icons/pingpong-logo.png" width="79" height="79" alt="">
      <!-- </a> -->
    </li>
    <li class="navbar-item">
        <p class="pingpong-text">Ping-Pong language</p>
    </li>
  </ul>
</nav>

<div class="display-area-div">
  <div class="add-sentence-div">
    <app-add-sentence></app-add-sentence>
  </div>
  <div class="display-sentence-div">
    <app-display-sentence></app-display-sentence>
  </div>
</div>