.display-area-div {
    margin-left: 100px;
    margin-right: 100px;
    padding: 40px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}

.add-sentence-div {
    margin-bottom: 50px;
}

.display-sentence-div {
    border-top: solid;
    border-color: rgb(234, 89, 22);
    border-width: thick;    
}