<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col-1">ID</th>
      <th scope="col-3">Chinese</th>
      <th scope="col-1">Difficulty level</th>
      <th scope="col-6">Pinyin</th>
      <th scope="col-1">English Translation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sentence of sentences"  >
      <!-- Angular json pipe for formatting -->
      <td>{{ sentence.id   | json}}</td>
      <td>{{ sentence.Chinese | json}}</td>
      <td>{{ sentence.DifficultyLevel | json}}</td>
      <td>{{ sentence.Pinyin | json}}</td>
      <td>{{ sentence.EnglishTranslation | json}}</td>
      <td>        
      <button type="submit" class="button btn btn-primary" (click)="onRemoveSentence(sentence.id)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>